
.book-list__container {
  margin: 30px 0 0;
  padding: 15px;
  border: 1px solid purple;
}

.book-list__item {
  cursor: pointer;
}

.book-list__item:hover,
.book-list__item:focus {
  background-color: #efefef;
}
